<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.0.101" doc="IP address by which the robot can be reached."/>
  <arg name="controllers" default="joint_state_controller joint_group_vel_controller speed_scaling_state_controller force_torque_sensor_controller" doc="Controllers that are activated by default."/>
  <arg name="stopped_controllers" default="pos_joint_traj_controller scaled_pos_joint_traj_controller" doc="Controllers that are initally loaded, but not started."/>
  <arg name="kinematics_config" default="$(find test_vel_controller)/calibration/ur5e_calibration.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>

  <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch" pass_all_args="true" />
</launch>
